#container {
    display: grid;
    border: black 1px solid;
    width: 800px;
    height: 800px;
}

.boxes {
   display: grid;
   width: auto;
   height: auto;
   
}

.parent {
    display: flex;
    justify-content: center;    
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

